// Variables

$primary-color: #573e81;
$primary-highlight-color: #7CFB48;
$primary-hover-color: #41BB0F;
$primary-link-hover-color: #4cae4c;
$btn-background-color: #4CA927;

$completed-color: #4CA927;